<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Select Period</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <h1>Select Reservation Period</h1>
</header>

<main>
  <form action="#" th:action="@{/available-workspaces}" method="post" th:object="${periodDto}">
    <label for="startTime">Start Date:</label>
    <input type="date" id="startTime" name="startTime" th:field="*{startTime}" required>
    <br>

    <label for="endTime">End Date:</label>
    <input type="date" id="endTime" name="endTime" th:field="*{endTime}" required>
    <br>

    <button type="submit">Show Available Workspaces</button>
  </form>
</main>
</body>
</html>