<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Show Reservations</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <h1>Your Reservations</h1>
  <nav>
    <ul>
      <li><a th:href="@{/customer}">Customer Menu</a></li>
      <li><a th:href="@{/reservation/}">Show Available Workspaces</a></li>
      <li><a th:href="@{/reservation/make}">Make Reservation</a></li>
      <li><a th:href="@{/reservation/cancel}">Cancel Reservation</a></li>
    </ul>
  </nav>
</header>

<main>
  <table>
    <thead>
    <tr>
      <th>Workspace</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
      <td th:text="${reservation.workspace.id}"></td>
      <td th:text="${reservation.startTime}"></td>
      <td th:text="${reservation.endTime}"></td>
      <td>
        <form action="#" th:action="@{/reservation/cancel}" method="post">
          <input type="hidden" th:name="reservationId" th:value="${reservation.id}" />
          <button type="submit">Cancel</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</main>

</body>
</html>